SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3306/studentdb2
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=aA@94495

MAIL_USERNAME=samsarthchowdy3@gmail.com
MAIL_PASSWORD=jnqf pduf tink aesc

GOOGLE_CLIENT_ID=1084932926067-r73ufmbchmbskh7e1agvplfh82ic68f5.apps.googleusercontent.com
a2