spring:
  datasource:
    url: jdbc:mysql://localhost:3306/studentdb2
    username: root
    password: aA@94495
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # creates/updates tables automatically
    show-sql: false       # shows SQL queries in the console
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  # Email configuration

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:samarthchowdry3@gmail.com}
    password: ${MAIL_PASSWORD:jnqf pduf tink aesc}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  task:
    scheduling:
      time-zone: Asia/Kolkata

  # Thymeleaf configuration for email templates
  thymeleaf:
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    cache: false  # Set to true in production

google:
   clientId: 1084932926067-r73ufmbchmbskh7e1agvplfh82ic68f5.apps.googleusercontent.com

app:
  report:
    admin-email: ${ADMIN_EMAIL:samarthchowdry3@gmail.com}