spring:
  datasource:
    url: jdbc:mysql://localhost:3306/studentdb2
    username: root
    password: aA@94495
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # creates/updates tables automatically
    show-sql: false       # shows SQL queries in the console
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  # Email configuration

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:samarthchowdry3@gmail.com}
    password: ${MAIL_PASSWORD:jnqf pduf tink aesc}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

google:
#  clientId: YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
   clientId: 1084932926067-r73ufmbchmbskh7e1agvplfh82ic68f5.apps.googleusercontent.com